h1 {
  color: red;
}

code {
  background-color: pink;
  font-weight: bold;
  display: block;
}

/* ------ 기본 속성 선택자 ------ */

/* div 태그 중 name 속성 값이 "name-1"인 요소에 배경색 green */
div[name="name-1"] {
  background-color: green;
}

/* div 태그 중 name 속성 값이 "name-2"인 요소에 배경색 yellow */
div[name="name-2"] {
  background-color: yellow;
}

/* 모든 div 요소의 글자색을 gray로 변경 grey = gray */
div {
  color: gray;
}

/* p태그 중 data 속성의 값이 "data-1"인 요소만 배결색 red */
p[data="data-1"] {
  background-color: red;
}

/* 내용이 p3, p4인 요소를 선택해서 배결색 blue */
p[data="data-2"] {
  background-color: blue;
}

/* 모든 요소(*) 중 name 속성 값이 "name-1"인 요소 글자 크기 30px */
/* *[name="name-1"] {
  font-size: 30px;
} */

/* 모든 요소를 선택할 때 태그 명칭을 생략할 수 있음 */
[name="name-1"] {
  /* *[name="name-1"] {font-size: 30px;} 작성하는 것 과 같음 */
  font-size: 30px;
}

/* ------ 자식 선택자(>) ------ */
#parent1 {
  background-color: skyblue;
}

#parent1 > li {
  background-color: gold;
}

/* !! 선택자를 연이어 작성할 수 있다. */
/* 자식2, 자식4의 글자색을 red로 설정 */
#parent1 > li > span {
  color: red;
}

/* ------ 후손 선택자() ------ */
/* 아이디가 parent2인 요소의 후손 중 모든 p 태그 선택 */
#parent2 p {
  background-color: lightcoral;
}

#parent2 > div > p {
  background-color: blue;
}

/*  반응 선택자 */
.test-div {
  /* 3px 실선 검정색 */
  border: 3px solid black;
  width: 200px;
  height: 200px;

  /* 배경 #ddd(16진수) */
  background-color: #ddd;

  /* 아래쪽 요소와 30px 만큼 간격추가 */
  margin-bottom: 30px;

  /* 마우스 커서를 손가락 모양으로 변경 */
  cursor: pointer;
}

#activeBox:active {
  background-color: yellow;
}

#hoverBox:hover {
  /* 배경이미지 */
  background-image: url("../images/pizza/새우.png");

  /*  배경 이미지 크기 */
  background-size: cover; /* 요소 크기에 맞춰서 이미지 설정 */
}

/* ------- 상태 선택자 ------- */
#input1:focus {
  /* 
    초점이 맞춰졌을 때 요소 바깥에 생기는 선 
    1번 방법
    border: 선굵기 선종류 선색상
    outline: none;
    2번 방법
    outline: 선굵기 선종류 선색상
    3번 방법
    outline-color: 선색상(선 굵기나 선 종류는 생략)
  */
  outline-color: greenyellow;
}

#input1 {
  /* 
        선 색상만 변경하고 굵기나 종류는 생략하는 방법
        기본적으로 outline 바깥선 border 내부선 색상
        기본 border-color 색상은 눈에 띄지 않음
        border-color
        outline-color
    */
  border-color: red;
}

/* :checked */
#input2:checked {
  width: 30px;
  height: 30px;
  background-color: red;
  /* 
    radio, checkbox 선택 보이는 표시는 색상이 아니라 이미지!!!!!
    배경색이 적용되지 않는다!!!!
    background-color: red; -> 적용이 안 되는 것이 맞음!

    선택할 경우 가로 세로 크기를 30px로 설정했기 때문에 크기만 커지는 것임

    input 태그를 만들 때 기본 크기와 체크를 선택했을 때 소비자의 눈에 보여질 이미지를 설정해 놓은 상태
  */
}
/* 
    :enabled/:disabled
    배경색, 테두리 모양, 선두께 설정 가능
*/
.input3:enabled {
  background-color: skyblue;
}

.input3:disabled {
  background-color: lightcoral;
}

/* ------ 동위 선택자 ------ */
/* 
    + : 바로 뒤 형제 요소 하나 
    div 뒤에 있는 div에만 배경색 설정
*/
#div1 + div {
  background-color: yellow;
}

/* 
    ~ (틸드) : 뒤에 존재하는 형제 요소 중 일치하는 요소 모두 선택
*/
#div3 ~ div {
  /* 중간에 존재하는 p 태그를 제외하고 div는 모두 배경색 설정 */
  background-color: springgreen;
}

/* ------- 체크박스 만들기 ------- */
/* 
    1. label 요소를 체크박스 모양으로 만들기
    + 다음(뒤)에 위치한 태그 요소를 선택하는 선택자
    #check라는 태그 요소 바로 뒤에 있는 label 하나만 선택하겠다! 
*/
#check + label {
  width: 30px; /* 너비 */
  height: 30px; /* 높이 */
  border: 1px solid black; /* 테두리 */

  /* 크기 지정o, 한 줄에 배치할 수 있도록 수평 분할!! */
  display: inline-block;
  cursor: pointer; /* 마우스 포인터 모양을 손가락으로 변경 */
  border-radius: 20%;
  user-select: none; /* 사용자가 선택(블럭)을 못하게 함 */
}

/* 체크박스가 체크되었을 때 label에 체크박스 이미지 표시 */
/* 
    1. check + label 의 경우에는 체크박스에 체크를 하지 않아도 체크를 한 듯한 이미지가 보이는 경우
    #check + label {
        background-image: url("../images/checkbox.png");
        background-size: cover;
    }

    2. check:checked + label 의 경우에는 체크박스에 체크를 해야지만 체크를 한 듯한 이미지가 보이게 됨!
    #check:checked + label {
        background-image: url("../images/checkbox.png");
        background-size: cover;
    }

    만약에 // TODO
*/
#check:checked + label {
  background-image: url("../images/checkbox.png");
  background-size: cover;
}

/* 체크박스를 존재는 하지만 보이지 않게 처리 */
#check {
  display: none;
}

/* ------- 파일 버튼 만들기 1 ------- */
/* 1. 파일 선택 버튼을 업로드한 이미지로 변경하기 */
#imgFile + label {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  /* 
    label의 경우에는 label태그 내부에 텍스트를 작성해주거나
    라벨 내부에 이미지를 업로드 해야함 
  */
  display: inline-block;
  border-radius: 20%;
  cursor: pointer;
  background-image: url(../images/upload.png);
  background-size: cover;
  user-select: none;
}

/* 2. 파일 선택 input 숨기기 */
#imgFile {
  display: none;
}

/* ------- 파일 버튼 만들기 2 ------- */
/* 1. 파일 선택 input 숨기기 */
#imgFile-2 {
  display: none;
}

/* 
    imgFile2 다음에 오는 img 크기 조정하기
    
    후손 선택자 > 를 이용해서 #imgFile-2 다음 label 내부 img만 선택 작성
*/
#imgFile-2 + label > img {
  width: 100px;
  height: 100px;
}
