.btn-basic {
  background-color: #4caf50;
  color: #fff;
  /* 상하 좌우 버튼 패딩: 보통 상하 패딩 보다 좌우 패딩 크기 값을 크게 만듬  */
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
/* 버튼 위로 마우스를 올렸을 때 나타나는 변화 스타일 */
.btn-basic:hover {
  background-color: #45a049;
  font-size: 20px;
  color: chartreuse;
}
/* 버튼을 클릭했을 때 나타나는 변화 스타일 */
.btn-basic:active {
  background-color: red;
  font-size: 30px;
  color: pink;
}

.btn-pretty {
  /*
        기본 배경색 #ff6f61
        기본 글자색 white
        패딩 상하 12 좌우 24
        실선 없음
        모서리 둥글기 12
        글자크기 18
        글자 굵기: 굵게 설정
        마우스 올렸을 때 커서 pointer

        마우스를 올렸을 때 변화 hover
        배경색 #ff3b2e;
        글자색 #fffde7;
        
        마우스로 버튼을 클릭했을 때 active
        배경색 #d6281d;
        글자색 white;
    */
  background-color: #ff6f61;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn-pretty:hover {
  background-color: #ff3b2e;
  color: #fffde7;
}

.btn-pretty:active {
  background-color: #d6281d;
  color: white;
}
