body {
  max-width: 900px; /* 0 ~ 900px 까지의 범위 설정 */
  margin: 0 auto; /* 상하 = 0 좌우 = 자동 여백 설정 */
  padding: 20px;
  background: #f8f9fa;
}

h1 {
  color: #333; /* 맨 아래 color 속성으로 흰색을 작성했기 때문에 #333은 적용되지 않는다. */
  text-align: center;
  padding: 20px;
  background: linear-gradient(45deg, #667eea, #764ba2);
  color: #fff;
}

/*
    pre 태그에 
    배경색상 #2d3748
    글자색상 #e2e8f0
    패딩 상하좌우 15
    모서리 둥글기 정도 8
    글자크기 14

    p 태그
    배경색상 흰색
    패딩 15
    모서리 둥글기 5
    박스 쉐도우 오른쪽 이동없음 아래로 이동 2 번짐 5 rgba(0,0,0,0.1)
*/

pre {
  background-color: #2d3748;
  color: #e2e8f0;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
}

p {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  background: #f8f9ff;
}

.gd-1 {
  background: #4ecdc4
    /*
        0px -------- 10px ------- 20px 
        투명 구간    연한흰색
        청록           구간
        그대로 보임

        똑같은 rgba(255, 255, 255, 0.1) 색상표에서 0 ~ 10px 은 연한 흰색 색상 지정이 안됨
        10px 이상부터 연한 흰색이 보임

        rgba(255, 255, 255, 0.1) 10px 부터 rgba(255, 255, 255, 0.1) 20px까지 연한 색상 유지

        90deg 각도 90도 = 수직방향
        repeating-linear-gradient 반복해서 선형 패턴 디자인 색상 만들기
        transparent 기본 배경 색상이 보이는 구간
        transparent 10px 0 ~ 10px 투명 구간
        rgba(255, 255, 255, 0.1) 10px, 흰색 반투명 구간 처음에 시작 할 떄 반투명을 10px
        rgba(255, 255, 255, 0.5) 20px 두번째 오는 반투명구간은 20px 제공
        
        background: #4ecdc4 기본 배경 색상
        transparent ~ transparent 10px, -> 0부터 10px까지 #4ecdc4 그대로 유지
        rgba(255, 255, 255, 0.1) 10px ~ rgba(255, 255, 255, 0.1) 20px -> 10px 부터 20px까지 반투명한 상태TODO
    */
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px
    );
}

.gd-2 {
}
