/* 
    1. .body-top에 마진, 패딩 0
    2. header 전체 박스
        로고가 들어갈 위치
        로그인 | 회원가입
        한 줄에 존재하도록 display 설정
        패딩 15 30
        배경색상 #ddd
        좌우로 나누기
        justify-content: space-between;
        align-items: center;
*/
.body-top {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ddd;
}

.header-left .logo {
  font-size: 24px;
}
.header-left .logo img {
  width: 100px;
  border-radius: 50%;
}

.header-right a {
  text-decoration: none;
  font-size: 20px;
  color: #555;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nav ul a {
  text-decoration: none;
  color: aqua;
}

.main {
  margin: 0;
  padding: 0;
}
.banner-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.banner {
  background-image: url("../images/banner1.png");
  background-size: auto 145%;
  background-repeat: no-repeat; /* 배경 이미지를 반복하지 않겠다 */
  /* contain -> 이미지 사이즈가 기기 너비만큼 복제 */
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  text-align: center;
  box-shadow: 2px;
}

.banner-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  /* 
    box-shadow나 text-shadow는 동일한 특성을 지님
    box-shadow 무언가가 담겨진 테두리의 음영을 줄 때 사용
    text-shadow 글자 테두리 음영을 줄 때 사용
    오른쪽으로 얼마나 이동할 것인가,  아래쪽으로 얼마나 이동할 것인가,  그림자 흐림 정도,  80% 불투명한 흰색 
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); 
    rgba(255 = 빨간색, 255 = 초록색, 255 = 파란색, 불투명한 정도(0.1로 갈수록 투명해져서 그림자가 안보이고 0.9로 갈수록 선명해져서 그림자가 뚜렷하다)

    왼쪽 , 오른쪽, 선명하게 0 = 검정계열
    text-shadow: -20px -20px 0px rgba(0, 0, 0, 1);
    rgba(0, 0, 0, 1); // 검정
    rgba(255, 255, 255, 1); / 흰색
  */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}
